body {
    overflow: hidden;
}

wrapper {
    display: grid;
    grid-gap: 0px;
}

.header {
    position: fixed;
    width: calc(100vw - 20px);
    border: 1px solid #000000;
    border-radius: 5px;
    height: 40px;
    padding: 8px 0px;
    color: #000000;
    background-color: #b5fff7;
    display: grid;
    grid-template-columns: 50px auto 1fr 50px;
    font-size: 18px;
    font-family: "Brush Script MT";
    z-index: 1;
}

.logo {
    display: grid;
    margin-left: 1vw;
}

.lix-wrapper {
    display: grid;
    justify-content: center;
    font-size: 20px;
    margin-left: 2vw;
    padding: 8px;
}

.filter {
    display: grid;
    margin-right: 3vw;
}

.main-block {
    padding-top: 60px;
    grit-gap: 5px;
    border-radius: 5px;
    color: #000000;
    display: grid;
    grid-template-columns: calc(70vw - 8px) calc(30vw - 28px);
    height: calc(100vh - 50px);
}

.feed {
    border-right: 1px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dashboard {
    display: grid;
    border-left: 1px solid black;
    border: 0px solid black;
    grid-template-rows: 15% 70% 15%;
}

.button-exit {
    padding-top: 30px;
    background: -moz-linear-gradient(#d0ecf4, #68ade1, #b7cef4);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d0ecf4), to(#c4dcf4), color-stop(0.5, #009de1));
    padding: 3px 7px;
    color: white;
    border-radius: 5px;
    border: 1px solid #666;
    width: 70px;
    height: 40px;
    font-size: 20px;
    font-family: "Brush Script MT";
}

.button-exit-wrapper {
    display: grid;
    justify-content: center;
    align-items: flex-start;
}

.button-add-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
}

.button-add {
    font-size: 40px;
    display: grid;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #000000;
    height: 80px;
    -webkit-transition-property: background-color, -webkit-box-shadow;
    transition-property: background-color, box-shadow;
    justify-content: center;
    align-items: center;
    width: 80px;
    background-color: #fff8f6;
    font-family: "Brush Script MT";
}

.button-add:hover {
    display: grid;
    background-color: #6ac6ff;
}

.footer {
    text-align: center;
}

.feed {
    display: grid;
    overflow: auto;
}

.IMAge {
    max-height: 410px;
    background-color: #fff;
    border: 2px solid black;
    margin: 2vh auto;
    display: grid;
    grid-template-rows: 50px calc(100% - 180px) 40px auto 20px;
}

@media (max-width: 540px) {
    .IMAge {
        width: calc(70vw - 28px);
    }

    .editarea {
        width: calc(70vw - 28px);
    }

    .photoarea {
        width: calc(70vw - 28px);
    }

    .photo {
        width: calc(70vw - 28px);
    }

    .commetarea {
        width: calc(70vw - 28px);
    }

    .datearea {
        width: calc(70vw - 28px);
    }
}

.editarea {
    display: grid;
    border-bottom: 1px solid #000000;
    padding: 5px 5px 5px 5px;
    grid-template-columns: 37px auto 1fr 37px 37px;
    justify-content: flex-end;
}

.usermainphoto {
    display: grid;
    background-image: url(usermainphoto.jpg);
    background-size: contain;    
    width: 37px;
    height: 37px;
}

.username{
    display: grid;
    justify-content: center;
    font-size: 20px;
    margin-left: 3vw;
    padding: 2px;
    font-family: "Brush Script MT";
    font-size: 28px;
}

.button-edit {
    display: grid;
    background-image: url(editbut.jpg);
    background-size: contain;    
    padding: 2px;
    margin-right: 2vw;
    height: 30px;
    width: 30px;
}

.delete-button {
    display: grid;
    background: url(delete.jpg);
    background-size: contain;    
    padding: 2px;
    margin-right: 1vw;
    height: 30px;
    width: 30px;
    border: 0px;
}

.photoarea {
    display: grid;
    border-bottom: 1px solid #000000;
    justify-content: center;
    align-items: center;
    background: url(photo.jpg);
    background-size: cover;   
    height: 220px;
    width: 370px; 
}

.likearea {
    display: grid;
    grid-template-columns: 10% auto;
    grid-gap: 3px;

}

.like-button {
    display: grid;
    padding: 2px;
    align-items: center;
    background: url(https://pp.userapi.com/c824204/v824204931/cb90e/ctGz2o_3QYc.jpg);
    background-size: contain; 
    height: 35px; 
    width: 40px;
}

.num-of-likes {
    display: grid;
    padding: 2px;
    align-items: center;
    font-family: "Brush Script MT";
    font-size: large;
}

.commetarea {
    display: grid;
    align-items: baseline;
    padding-left: 10px;
    font-size: large;
}

.commet {
    display: grid;
    padding: 2px;
    font-family: "Brush Script MT";
    font-size: 20px;
}

.datearea {
    display: grid;
    align-items: center;
    padding-right: 10px;
    justify-content: flex-end;
    font-family: "Brush Script MT";
}
